extends layout

block layout-content
    div.View.WeatherView 
        h1 #{apName}
        h2 #{apRegion}
        h2 Last Updated: #{apLastUp}
        h2 #{apTemp}
        h2 #{apCond}
        h2 Current Wind Speed: #{apWind} K/ph
        h2 Current Relative Humidity: #{apHum}%
        h2 Precipitation: #{apPrecip}